* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    margin: 0;
}

:root {
    --background-form: #3d3d3d;
    --text: #ddd;
    --dropdown: #282828;
    --background: #2f2f2f;
    --background-input: #545454;
    --background-input-hover: #646464;
}

.App {
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.w-100 {
    width: 100%;
}

.heading {
    text-align: center;
    padding: 4px 0 4px 0;
}

.form-input {
    display: flex;
    margin-bottom: 2px;
}

.form-input > * {
    width: 100%;
}

.center {
    align-items: center;
    justify-content: center;
}

.t-center {
    text-align: center;
}

.coordinates .form-input label,
.color .form-input label {
    text-align: right;
    padding-right: 32px;
}

.column {
    flex-direction: column;
}

.form-title {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bold;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
}

.button-wrapper > * {
    width: 100%;
}

.child-width-100 > * {
    width: 100%;
}

.configs {
    background-color: var(--background);
    color: var(--text);
    padding: 4px;
    height: 100vh;
    overflow-y: auto;
}

input[type="text"],
input[type="number"],
select {
    background-color: var(--background-input);
    outline: none;
    border: none;
    margin-bottom: 2px;
    color: var(--text);
    padding: 2px;
    padding-left: 8px;
}

.form-input > label {
    text-align: right;
    padding-right: 16px;
}

input[type="button"] {
    background-color: var(--background-input);
    color: var(--text);
    outline: none;
    border: none;
    margin: 2px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    transition: 500ms;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

input[type="button"]:hover {
    background-color: var(--background-input-hover);
}

select {
    background-color: var(--background-input);
    color: var(--text);
    outline: none;
    border: none;
}

.config-container {
    background-color: var(--background-form);
    margin-bottom: 2px;
    padding: 4px;
    border-radius: 4px;
}

.create {
    border-top: 2px solid var(--background);
    border-bottom: 2px solid var(--background);
    padding-top: 8px;
    padding-bottom: 8px;
}

label {
    font-size: 0.9rem;
}

.canvas {
    width: 100%;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-form);
}

.tabs {
    background-color: var(--background);
    padding: 4px;
    display: flex;
    position: sticky;
    top: 0px;
}

.tab-button {
    width: 100%;
}

.material-form {
    border-top: 2px solid var(--background);
    border-bottom: 2px solid var(--background);
    padding-top: 8px;
    padding-bottom: 8px;
}

.loading {
    width: 100%;
    /* height: 100%; */
    background-color: var(--background-input);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sprt,
.white {
    color: white;
}

.sprt-loading {
    font-size: 4rem;
    font-weight: bolder;
}

.header {
    padding-left: 16px;
    background-color: var(--background);
    color: white;
    font-weight: bolder;
}

.sprt-loading {
    animation: rotate 2s infinite cubic-bezier(0, 0, 1, 1);
}

.square {
    border: 16px solid rgba(1, 1, 1, 0.2);
    border-radius: 25%;
    padding: 16px;
    animation: rotate 4s infinite cubic-bezier(0, 0, 1, 1);
}

.canvas-output {
    overflow: scroll;
}

@keyframes rotate {
    0% {
        rotate: 1 0 1 0deg;
    }

    50% {
        rotate: 1 1 1 180deg;
    }

    100% {
        rotate: 1 1 1 360deg;
    }
}
